.work-carousel {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    scroll-snap-type: x mandatory;
}

.work-slide {
    flex: 0 0 70%;
    scroll-snap-align: start;
}

.work-slide img {
    display: block;
    width: 100%;
    height: auto;
}




/* Tablet */
@media (min-width: 768px) {
    .work-slide {
        flex-basis: 30%;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .work-slide {
        flex-basis: 30%;
    }
}